recursive-include cmz/cms_content *.*
recursive-include cmz/cms_news *.*
recursive-include cmz/cms_theme_bootstrap *.*
recursive-include cmz/cms_cookieconsent *.*
recursive-include cmz/example_website *.*